body {
    font-family: 'Grenze', serif;
}

#header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backg.jpg)center/cover no-repeat fixed;
}

.height {
    min-height: 80vh;
}

.height-80 {
    min-width: 100vh;
}

.about-picture {
    background: url(../images/image12.jpeg)center/cover no-repeat fixed;
}

.title-underline {
    width: 200px;
    height: 10px;
    margin: 0 auto;
}

.round {
    width: 60px;
    height: 60px;
}